<div class="modal fade" id="questionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" id="questionDialog">
    <div class="modal-content" id="questionContent">
      <div class="modal-body">
        <p id="finalCategory" data-content="category">One fine body&hellip;</p>
        <div id="finalQuestion" class="hide">
	        <p data-content="question">One fine body&hellip;</p>
	        <p id="timer">60</p>
	      </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->