<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="text-center">Did <span data-content="team_name"></span> answer correctly?</h2>
        <div class="text-center" id="modalButtons">
          <button type="button" id="wrongAnswer" class="btn btn-default" data-dismiss="modal">No</button>
          <button type="button" id="rightAnswer" class="btn btn-primary" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>