<div class="modal fade" tabindex="-1" id="questionsModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Final Jeopardy</h4>
      </div>
      <div class="modal-body">
        <form>
          <label for="categoryName">Category</label>
          <input class="form-control" id="category" data-value="category" type="text" placeholder="Edit Category"/>
        </form>
        <form>
          <label for="question5">Question</label>
          <input class="form-control" id="question" data-value="question" type="text" placeholder="Add Question"/>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="saveChanges" data-dismiss="modal">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->