<div class="modal fade" id="questionModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" id="questionDialog">
    <div class="modal-content" id="questionContent">
      <div class="modal-body">
        <p data-content="question"></p>
        <div class="row" id="counterBarsContainer">
        	<div class="countdownBars" id="1"></div>
        	<div class="countdownBars" id="2"></div>
        	<div class="countdownBars" id="3"></div>
        	<div class="countdownBars" id="4"></div>
        	<div class="countdownBars" id="5"></div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->