<h1 class="text-center">Questions Page</h1>
<div class="row" id="questionsPageContainer">
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Category 1: <span data-content="category0"></span>
		    <a href="javascript:void(0)" class="editQuestions" data-index="0">
		    	<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
		    </a>
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Category 2: <span data-content="category1"></span> 
		    <a href="javascript:void(0)" class="editQuestions" data-index="1">
		    	<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
		    </a>
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Category 3: <span data-content="category2"></span> 
		    <a href="javascript:void(0)" class="editQuestions" data-index="2">
		    	<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
		    </a>
		  </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Category 4: <span data-content="category3"></span> 
		    <a href="javascript:void(0)" class="editQuestions" data-index="3">
		    	<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
		    </a>
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Category 5: <span data-content="category4"></span> 
		    <a href="javascript:void(0)" class="editQuestions" data-index="4">
		    	<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
		    </a>
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Category 6: <span data-content="category5"></span> 
		    <a href="javascript:void(0)" class="editQuestions" data-index="5">
		    	<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
		    </a>
		  </div>
		</div>
	</div>
	<div class="col-md-12">
		<div class="panel panel-default">
		  <div class="panel-body">
		    Final Jeopardy: <span data-content="finalJeopardyCategory"></span> 
		    <a href="javascript:void(0)" id="finalJeopardyEdit" data-index="6">
		    	<span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span>
		    </a>
		  </div>
		</div>
	</div>
</div>

	<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg hide" id="modalBtn" data-toggle="modal" data-target="#questionsModal"></button>

<!-- Modal -->
<div id="modalContainer"></div>