/* Admin */
#adminBody {
	background-color: #eee;
}

#sidebarContainer {
	background-color: #c5bfbf;
	height: 100%;
}

#menuChoices {
	list-style-type: none;
  font-size: 20pt;
  padding-top: 15ex;
  color: black;
}
#menuChoices a {
  font-size: 18pt;
  color: white;
  width: 80%;
  margin: 5px;
}

#teamName {
  font-size: 26pt;
  height: 100px;
}

#modalButtons button {
  font-size: 16pt;
  padding: 10px;
  width: 25%;
  margin: 16px;
}

#questionsPageContainer {
	margin-top: 10%;
}

/* Team Page */
#playerContainer {
  background-color: #4600FF;
}

#submitTeam {
  margin-top: 20px;
  font-size: 20pt;
  color: #4600FF;
  background: white;
  font-family: 'Arvo', serif
}

#submitTeam:hover {
  background-color: #efeded;
}

#dingBtn {
  width: 90%;
  padding: 40px;
  font-size: 35pt;
  font-family: 'Bevan', cursive;
  text-shadow: 1px 1px 6px #000;
  background-color: #EAA77E;
}

#newTeamForm label, #playerContainer h1 {
  color: white;
  font-family: 'Arvo', serif;
  text-shadow: 1px 1px 1px #777474;
}

#newTeamForm > div {
  display: flex;
  flex-direction: column;
}


/* Final Jeopardy */

#finalJeopardy, #thanks, #finalWagerSubmitContainer {
  display: none;
}

#solutionInput {
  font-size: 17pt;
}

#wager {
  font-size: 36pt;
  font-family: 'Arvo', serif;
}

#submitFinal {
  font-size: 17pt;
  color: #4600FF;
  background: white;
  font-family: 'Arvo', serif; 
  margin-top: 15px;
}

#finalWagerSubmitContainer {
  margin-top: 15px
}

#thanks {
  font-size: 45pt;
  margin-top: 5ex;
}

/* Scoreboard */
#scoreboard {
	background-color: #4600FF;
}

#scoreboard #teams {
	color: white;
	text-shadow: 1px 1px 1px #000;
}

.scoreboardWrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.sectionColumns {
	padding-left: 0;
	padding-right: 0;
}

.scoreboardWrapper h2 {
  font-size: 40px;
  font-family: jeapordy;
	color: white;
	text-shadow: 1px 1px 1px #000;
}

.scoreboardSquare {
  font-family: jeapordy;
  color: #EAA77E;
  font-weight: bold;
  font-size: 45pt;
  outline: solid 2px black;
  padding: 10px;
  cursor: pointer;
  text-shadow: 1px 6px 1px #000;
}

/* Question Card */

#questionDialog {
  width: 100%;
  height: 100%;
}

#questionContent {
  height: 70%;
  background-color: #4600FF;
  color: yellow;
  font-family: jeapordy;
  font-size: 75pt;
  text-align: center;
  text-shadow: 1px 6px 1px #000;
}

#questionContent p{
  margin-top: 2ex;
}

#counterBarsContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.countdownBars {
  width: 18%;
  height: 18px;
  background: #FFFF00;
  display: inline-block;
}

/* Imports */

@font-face {
  font-family: 'jeapordy';
  src: url('../fonts/jeapordy.ttf')  format('truetype')
}